[user]
    email = peter@peterlundgren.com
    name = Peter Lundgren
[color]
    ui = true
[commit]
    template = ~/.gittemplate
[core]
    pager = less -FXRS
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = nothing
[merge]
    conflictstyle = diff3
